### Data Collection for 'worth' - Salary Estimator

In [1]:
# Importing dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Explore resposnses from Google form

In [2]:
# Reading the dataset
gform = pd.read_csv('data/gform/worth_responses.csv')
gform.head()

,Timestamp,Name,Age,Which domain you chose in Brototype?,Currently working as? (eg:- React Developer),Do you have a Degree/Diploma?,Are you from Computer Science background?,Did you have any experience before joining Brototype?,How much time did you spend at the office on average in a day? (Hour),"Did you utilize office space in Holidays (Sunday, Public Holidays, etc.)",How many week backs have you received?,"Current working place? (eg:- Bangalore, Use WFH for work from home)","Technical Skills acquired? (Type in as React, Node, Html, CSS, etc..)",Did you complete 6 months?,"TOI Score (Type ""Not Applicable"" if you didn't receive any score)",The Salary you got placed in Lakhs? (eg:- 6)
0,5/2/2023 14:43:36,Nihal Avulan,19,MERN Stack,Full stack engineer,No Degree,No,No,16.0,Yes,3,Office,"React,node,js,typescript,expresses,mongodb,htm...",Yes,NaN,9.0
1,5/2/2023 14:44:54,Ahmad Shabeer K,23,MEAN Stack,Angular Developer,No Degree,No,No,12.0,Yes,4,Manjeri,"Angular, Node JS, Express JS, HTML, CSS, Linux...",Yes,NaN,4.7
2,5/2/2023 14:45:16,Ahammed Nihal PT,21,MERN Stack,Mern developer,Degree,Yes,No,10.0,No,4,On site,"React, Node js, html, css, bootstrap, git, Ms ...",Yes,NaN,6.0
3,5/2/2023 14:45:17,Arjun,22,MERN Stack,MERN Stack developer,No Degree,No,No,10.0,No,0,Bangalore,"React, Node, HTML, CSS, TailwindCSS, SCSS, Mon...",No,NaN,4.2
4,5/2/2023 14:46:59,Mishal,25,MEAN Stack,Software Engineer,Degree,No,No,7.5,No,3,WFH,"Angular, Express, Node, javascript, MongoDB, H...",No,NaN,4.5

In [3]:
gform.columns

Index(['Timestamp', 'Name', 'Age', 'Which domain you chose in Brototype?',
       'Currently working as? (eg:- React Developer)',
       'Do you have a Degree/Diploma?',
       'Are you from Computer Science background?',
       'Did you have any experience before joining Brototype?',
       'How much time did you spend at the office on average in a day? (Hour)',
       'Did you utilize office space in Holidays (Sunday, Public Holidays, etc.)',
       'How many week backs have you received?',
       'Current working place? (eg:- Bangalore, Use WFH for work from home)',
       'Technical Skills acquired? (Type in as React, Node, Html, CSS, etc..)',
       'Did you complete 6 months?',
       'TOI Score (Type "Not Applicable" if you didn't receive any score)',
       'The Salary you got placed in Lakhs? (eg:- 6)'],
      dtype='object')

### Data Cleaning

In [10]:
# Removing unnecessry columns
data = gform.iloc[:, 2:]
data.head()

,Age,Which domain you chose in Brototype?,Currently working as? (eg:- React Developer),Do you have a Degree/Diploma?,Are you from Computer Science background?,Did you have any experience before joining Brototype?,How much time did you spend at the office on average in a day? (Hour),"Did you utilize office space in Holidays (Sunday, Public Holidays, etc.)",How many week backs have you received?,"Current working place? (eg:- Bangalore, Use WFH for work from home)","Technical Skills acquired? (Type in as React, Node, Html, CSS, etc..)",Did you complete 6 months?,"TOI Score (Type ""Not Applicable"" if you didn't receive any score)",The Salary you got placed in Lakhs? (eg:- 6)
0,19,MERN Stack,Full stack engineer,No Degree,No,No,16.0,Yes,3,Office,"React,node,js,typescript,expresses,mongodb,htm...",Yes,NaN,9.0
1,23,MEAN Stack,Angular Developer,No Degree,No,No,12.0,Yes,4,Manjeri,"Angular, Node JS, Express JS, HTML, CSS, Linux...",Yes,NaN,4.7
2,21,MERN Stack,Mern developer,Degree,Yes,No,10.0,No,4,On site,"React, Node js, html, css, bootstrap, git, Ms ...",Yes,NaN,6.0
3,22,MERN Stack,MERN Stack developer,No Degree,No,No,10.0,No,0,Bangalore,"React, Node, HTML, CSS, TailwindCSS, SCSS, Mon...",No,NaN,4.2
4,25,MEAN Stack,Software Engineer,Degree,No,No,7.5,No,3,WFH,"Angular, Express, Node, javascript, MongoDB, H...",No,NaN,4.5

In [8]:
data.columns

Index(['Name', 'Age', 'Which domain you chose in Brototype?',
       'Currently working as? (eg:- React Developer)',
       'Do you have a Degree/Diploma?',
       'Are you from Computer Science background?',
       'Did you have any experience before joining Brototype?',
       'How much time did you spend at the office on average in a day? (Hour)',
       'Did you utilize office space in Holidays (Sunday, Public Holidays, etc.)',
       'How many week backs have you received?',
       'Current working place? (eg:- Bangalore, Use WFH for work from home)',
       'Technical Skills acquired? (Type in as React, Node, Html, CSS, etc..)',
       'Did you complete 6 months?',
       'TOI Score (Type "Not Applicable" if you didn't receive any score)',
       'The Salary you got placed in Lakhs? (eg:- 6)'],
      dtype='object')

In [11]:
# Renaming column names
cols = ['age', 'domain', 'current_job', 'degree', 'cs_bg', 'experience', 'avg_time', 'holidays', 'week_back', 'city', 'skills', 'graduated', 'toi', 'salary']
data.columns = cols
data.head()

,age,domain,current_job,degree,cs_bg,experience,avg_time,holidays,week_back,city,skills,graduated,toi,salary
0,19,MERN Stack,Full stack engineer,No Degree,No,No,16.0,Yes,3,Office,"React,node,js,typescript,expresses,mongodb,htm...",Yes,NaN,9.0
1,23,MEAN Stack,Angular Developer,No Degree,No,No,12.0,Yes,4,Manjeri,"Angular, Node JS, Express JS, HTML, CSS, Linux...",Yes,NaN,4.7
2,21,MERN Stack,Mern developer,Degree,Yes,No,10.0,No,4,On site,"React, Node js, html, css, bootstrap, git, Ms ...",Yes,NaN,6.0
3,22,MERN Stack,MERN Stack developer,No Degree,No,No,10.0,No,0,Bangalore,"React, Node, HTML, CSS, TailwindCSS, SCSS, Mon...",No,NaN,4.2
4,25,MEAN Stack,Software Engineer,Degree,No,No,7.5,No,3,WFH,"Angular, Express, Node, javascript, MongoDB, H...",No,NaN,4.5

### Exploratory Data Analysis

In [13]:
data.shape

(27, 14)

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          27 non-null     int64
 1   domain       27 non-null     object
 2   current_job  27 non-null     object
 3   degree       27 non-null     object
 4   cs_bg        27 non-null     object
 5   experience   27 non-null     object
 6   avg_time     27 non-null     float64
 7   holidays     27 non-null     object
 8   week_back    27 non-null     int64
 9   city         27 non-null     object
 10  skills       27 non-null     object
 11  graduated    27 non-null     object
 12  toi          1 non-null      float64
 13  salary       27 non-null     float64
dtypes: float64(3), int64(2), object(9)
memory usage: 3.1+ KB

In [15]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
age,27.0,23.074074,2.479546,19.00,22.00,23.00,24.00,31.00
avg_time,27.0,11.129630,2.723094,7.00,9.00,10.00,13.00,16.00
week_back,27.0,2.296296,2.034601,0.00,1.00,2.00,4.00,7.00
toi,1.0,7.540000,NaN,7.54,7.54,7.54,7.54,7.54
salary,27.0,18522.859259,96224.177369,2.40,3.60,4.50,4.90,500000.00

### Missing Values

In [18]:
# Checking for null values
(data.isnull().sum()/len(data))*100

age             0.000000
domain          0.000000
current_job     0.000000
degree          0.000000
cs_bg           0.000000
experience      0.000000
avg_time        0.000000
holidays        0.000000
week_back       0.000000
city            0.000000
skills          0.000000
graduated       0.000000
toi            96.296296
salary          0.000000
dtype: float64

In [21]:
data.duplicated().sum()

0

In [22]:
data = data.drop('toi', axis=1)
data.head()

,age,domain,current_job,degree,cs_bg,experience,avg_time,holidays,week_back,city,skills,graduated,salary
0,19,MERN Stack,Full stack engineer,No Degree,No,No,16.0,Yes,3,Office,"React,node,js,typescript,expresses,mongodb,htm...",Yes,9.0
1,23,MEAN Stack,Angular Developer,No Degree,No,No,12.0,Yes,4,Manjeri,"Angular, Node JS, Express JS, HTML, CSS, Linux...",Yes,4.7
2,21,MERN Stack,Mern developer,Degree,Yes,No,10.0,No,4,On site,"React, Node js, html, css, bootstrap, git, Ms ...",Yes,6.0
3,22,MERN Stack,MERN Stack developer,No Degree,No,No,10.0,No,0,Bangalore,"React, Node, HTML, CSS, TailwindCSS, SCSS, Mon...",No,4.2
4,25,MEAN Stack,Software Engineer,Degree,No,No,7.5,No,3,WFH,"Angular, Express, Node, javascript, MongoDB, H...",No,4.5

### Data Quality Check

In [29]:
data['city'].value_counts()

WFH                           6
Bangalore                     4
Kochi                         2
Office                        1
Hyderabad                     1
Ernakulam                     1
Hyderabad                     1
Coimbatore                    1
Chennai works from office     1
Chandigarh                    1
Calicut                       1
Pune                          1
Manjeri                       1
Nagercoil                     1
Manjeri Malappuram            1
Chennai                       1
On site                       1
Trivandrum                    1
Name: city, dtype: int64

In [32]:
# Changing incorrect entries to others
data['city'] = ['Others' if city in ['Office', 'On site']else city for city  in data['city']]
data['city'].value_counts()

WFH                           6
Bangalore                     4
Others                        2
Kochi                         2
Hyderabad                     1
Ernakulam                     1
Hyderabad                     1
Coimbatore                    1
Chennai works from office     1
Chandigarh                    1
Calicut                       1
Pune                          1
Manjeri                       1
Nagercoil                     1
Manjeri Malappuram            1
Chennai                       1
Trivandrum                    1
Name: city, dtype: int64